<div class="bg-container"></div>
<div class="main-container">
  <section class="logo-container">
    <app-logo></app-logo>
    <p class="assigment">Frontend <strong>Technical Assigment</strong></p>
  </section>

  <section class="transfer-control">
    <app-transfer
      [account]="account$ | async"
    ></app-transfer>
  </section>

  <section class="transactions-list">
    <app-transaction-list
      [transactions]="transactions$ | async"
    ></app-transaction-list>
  </section>

  <section class="footer-container">
    <app-footer></app-footer>
  </section>
</div>
