<article
  class="component-wrapper transaction"
  [class.transaction--incoming]="isIncoming"
  [class.transaction--outgoing]="!isIncoming"
>
  <p class="transaction__date">
    {{_transaction.dates.valueDate | date:'MMM. dd'}}
  </p>
  <div class="transaction__info info">
    <h5 class="info__from">{{_transaction.merchant.name}}</h5>
    <p class="info__type">{{_transaction.transaction.type}}</p>
  </div>

  <div class="transaction__value">
    <p>{{_transaction.transaction.amountCurrency.amount | negativeCurrency:_transaction.transaction.amountCurrency.currencyCode:'symbol':'1.0-2'}}</p>
  </div>
</article>
