<article
  class="component-wrapper transaction"
  [class.transaction--incoming]="transaction.isIncoming()"
  [class.transaction--outgoing]="!transaction.isIncoming()"
>
  <p class="transaction__date">
    {{transaction.getDate() | date:'MMM. dd'}}
  </p>
  <div class="transaction__info info">
    <h5 class="info__from">{{transaction.getMerchantName()}}</h5>
    <p class="info__type">{{transaction.getType()}}</p>
  </div>

  <div class="transaction__value">
    <p>{{transaction.getAmountCurrency().amount | negativeCurrency:transaction.getAmountCurrency().currencyCode:'symbol':'1.0-2'}}</p>
  </div>
</article>
